/* .about-us h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.about-us p {
  font-size: 24px;
  line-height: 1.5;
}

 */




/* ContactUsStyle */
.contact-us-container {
  height: 100vh; 
  margin-top: -390px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-container{
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.box-container h3 {
  font-size: 24px;
  margin: 10px 0;
  text-align: center;
}

.box-container input {
  width: 94.80%; 
  padding: 10px;
  font-size: 16px;
}

.box-container button {
  background: linear-gradient(135deg, #005b8e, #0056b3); /* Gradient background */
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-transform: uppercase;
  margin-top: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle box shadow */

}

.box-container button:hover {
  background-color: #0056b3; /* Hover color */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}












/* EmployeeFormStyle */
.employee-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
  margin-bottom: 200px;
}

.box {
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px;
  margin-top: 400px;
  text-align: center;
}


h3 {
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  display: block;
  width: calc(100% - 30px);
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

button {
  display: block;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #005b8e;
  color: white;
  cursor: pointer;
}
button button:hover {
  background-color: #0056b3; /* Hover color */
}







/* HomeStyle */
.home-container {
  padding: 20px;
  margin-top: 200px;
  margin-bottom: 20px;
}

.home {
  /* background-color: #fff; */
  color: #fff;
  padding: 50px;
  text-align: center; 
  margin: 0;
  /* border: 2px solid #000;
  border-radius: 20px; */
  /* box-shadow: 0px 0px 50px #008080; */

}

.logo {
  width: 200px;
  margin-bottom: 20px;
}

.home h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
}

/* .home p {
  font-size: 24px;
  line-height: 1.5;
  color:  #fff;
} */


body {
  /* background-image: url("../assets/images/front-page-background.png");
  background-size: cover;
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat; */
  background-image: url("../assets/images/bg3.png");
  background-size: cover;
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  animation: slide 20s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}